<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Insert Email" id="">
    <input type="password" name="password" placeholder="Insert Password" id="">
    <button type="submit">SignUp</button>
</form>