<form action="/signin" method="POST">
    <input type="email" name="email" placeholder="Insert Email" id="email">
    <input type="password" name="password" placeholder="Insert Password" id="password">
    <button type="submit">SignIn</button>
</form>